<div class="container">
  <div class="row justify-content-center">
    <h1>Orders#show</h1>
      <div class="cards">
        <% @order.item_orders.each do |item_order| %>
          <%= render 'item_orders/card', item_order: item_order %>
        <% end %>
      </div>

  </div>
  <input type="submit" value="Pay" class="btn btn-primary btn-lg submit mx-auto d-block my-3 w-75">
</div>